@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

@import "./style/tokens.css";
@import "./style/mission.css";
@import "./style/mission-start-page.css";
@import "./style/radar.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-body);
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--white-a01);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--white-a08);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--white-a15);
}
